@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: 99%;
    margin: 0;
    padding: 0 0 70px 0;
    font-family: 'Roboto', sans-serif;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
