<div class="adduser-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Nouvel utilisateur</mat-card-title>
        </mat-card-header>

        <form class="example-form" [formGroup]="formUser" (ngSubmit)="onSubmit(formUser.value)">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput type="string" formControlName="controlFirstName" placeholder="Prenom">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput type="string" formControlName="controlLastName" placeholder="Nom">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput type="email" formControlName="controlMail" placeholder="Email">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput type="password" formControlName="controlPassword" placeholder="Password">
                </mat-form-field>
            </mat-card-content>

            <button mat-stroked-button type="submit" color="accent" class="btn-block">Enregistrer</button>
        </form>

        <button mat-button [routerLink]="['']">Annuler</button>

    </mat-card>

</div>